@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This webpage is the user interface of the database created by our group for CS 6360.<br>
    Our group members are:<br>
    <ul style="list-style: none;">
        <li>Zach Neiger</li>
        <li>Amogh Yatnatti</li>
        <li>William Moffett</li>
        <li>Venkata Sai Bharat Chaganti</li>
        <li>Bhavya Reddy Patlolla</li>
    </ul><br>
    The various tabs you see represent the different features and views of our project.</p>
</div>

